MYSQL_DATABASE=pokemon_world
MYSQL_USER=pokemon_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me
MYSQL_PORT=3307

BACK_PORT=8080
FRONT_PORT=5173
SERVER_PORT=8080

VITE_API_URL=http://localhost:8080/api
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000

# BACKEND_PORT=8080
# FRONTEND_PORT=3000

# SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3310/madformacion_subvenciones
# SPRING_DATASOURCE_URL_DOCKER=jdbc:mysql://host.docker.internal:3310/madformacion_subvenciones
# SPRING_DATASOURCE_USERNAME=madformacion_bruno
# SPRING_DATASOURCE_PASSWORD='5jwRmBGf$%%-Q$}B'

# SSH_DB_HOST=176.31.155.0
# SSH_DB_PORT=22
# SSH_DB_USER=madformacion
# SSH_DB_IDENTITY_FILE=/root/.ssh/general
# SSH_DB_TUNNEL_BIND_HOST=0.0.0.0
# SSH_DB_TUNNEL_LOCAL_PORT=3310
# SSH_DB_REMOTE_HOST=localhost
# SSH_DB_REMOTE_PORT=3306

# APP_BASE_URL=https://subvenciones.exaformacion.com/
# APP_FRONTEND_URL=https://subvenciones.exaformacion.com/

# MAIL_HOST=smtp.resend.com
# MAIL_PORT=587
# MAIL_USERNAME=resend
# MAIL_PASSWORD='e_WWa2VoZS_Q6xPokqa1Ut7u9Gr4P32BPo9'
# MAIL_FROM=auth_exa@exaformacion.com
