:root {
  background-color: #345ac2;
}

body {
  margin: 0;

}
/* 
#root {
  min-height: 100vh;
}
h1 {
  color: rgba(255, 255, 255, 0.95);
  margin: 12px auto;
  padding: 8px 22px;
  text-align: center;
  width: fit-content;

  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 12px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.25);

  font-size: 2.3em;
  line-height: 1.1;
} */